{% extends "base.html" %}
{% load static settings_value %}

{% block main %}

<section class="colorbg"></section>

<section class="lightbg">
    <div id="resourcelist" class="container">
        <!-- Title -->
        <h2>{{ object.name }}</h2>
        <!-- Intro -->
        <div id="resourcelist-introduction">
            {{ object.introduction | safe }}
        </div>
        <!-- List of Resources -->
        <div id="resourcelist-list">
            {% for resource in resources %}
                <div class="resourcelist-list-item" data-resourceid="{{ resource.id }}">
                    <!-- Title -->
                    <div class="resourcelist-list-item-title">
                        {{ resource.title }}
                    </div>
                    <!-- Description -->
                    <div class="resourcelist-list-item-description">
                        {{ resource.description | safe }}
                    </div>
                    <!-- Links -->
                    <div class="resourcelist-list-item-links">
                        <!-- Video -->
                        {% if resource.video_youtube_id %}

                                <iframe src="https://www.youtube.com/embed/{{ resource.video_youtube_id }}" title="Watch on YouTube" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                        {% endif %}
                        <!-- File -->
                        {% if resource.file %}
                            <a href="{{ resource.file.url }}" target="_blank">
                                <i class="fa-solid fa-file-arrow-down"></i> Download File
                            </a>
                        {% endif %}
                        <!-- Url -->
                        {% if resource.url %}
                            <a href="{{ resource.url }}" target="_blank">
                                <i class="fa-solid fa-square-up-right"></i> Open Link
                            </a>
                        {% endif %}
                    </div>
                    {% if resource.request_feedback %}
                        <!-- Feedback (if this resource requires feedback) -->
                        <div class="resourcelist-list-item-feedback">
                            <label for="resourcelist-feedback-text-{{ resource.id }}">Please tell us how this resource has been helpful to you:</label>
                            <textarea id="resourcelist-list-item-feedback-text-{{ resource.id }}" placeholder="Write your feedback..."></textarea>
                            <button><i class="fa-solid fa-paper-plane"></i> Send</button>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="colorbg"></section>

<script>
    $(document).ready(function(){
        // Empty all feedback textareas
        $('.resourcelist-list-item-feedback textarea').val('');

        // Send resource feedback
        $('.resourcelist-list-item-feedback button').on('click', function(){
            var thisFeedbackDiv = $(this).closest('.resourcelist-list-item-feedback');
            var resourceId = $(this).closest('.resourcelist-list-item').attr('data-resourceid');
            var feedback = $(this).prev('textarea').val();

            $.ajax({
                url: "{% url 'researchdata:resource-feedback-create' %}",
                type: 'POST',
                data: {
                    resourceId: resourceId,
                    feedback: feedback
                },
                success: function(response){
                    alert('Thank you for sending the feedback!');
                    thisFeedbackDiv.hide();
                },
                error: function(jqXHR, textStatus, errorThrown){
                    alert("Error. Your feedback could not be saved. Please email your feedback to us: {% settings_value 'ADMIN_EMAIL' %}")
                }
            });
        });
    });
</script>

{% endblock %}