{% extends "base.html" %}
{% load static settings_value %}

{% block main %}

<section class="colorbg"></section>

<section class="lightbg">
    <div id="storylist" class="container">
        <h2>Stories</h2>
        <!-- Intro -->
        <div id="storylist-introduction">
            We're currently working on the Stories. Please check back soon!
        </div>
        <!-- List of Story Group links -->
        <h3>Explore our stories by group</h3>
        <ul id="storylist-storygrouplinks">
            {% for storygroup in storygroups %}
                <li><a href="#storygroup-{{ storygroup.id }}">{{ storygroup }}</a></li>
            {% endfor %}
        </ul>
        <!-- List of Stories -->
        <div id="storylist-list">
            {% for story in object_list %}
                {% ifchanged story.group %}
                    <h3 id="storygroup-{{ story.group.id }}">{{ story.group }}</h3>
                {% endifchanged %}
                <a href="{% url 'researchdata:story-detail' story.id %}" class="storylist-list-item" style="background-image: url({% if story.image %}{{ story.image.url }}{% else %}{% static 'images/stories/default_story.jpg' %}{% endif %}); background-size: cover; background-repeat: no-repeat; background-position: center;">
                    {% if story.type %}
                        <div class="storylist-list-item-label">{{ story.type }}</div>
                    {% endif %}
                    <div class="storylist-list-item-title">{{ story }}</div>
                </a>
            {% empty %}
                <div>There are no Stories available to view. Please check back soon.</div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="colorbg"></section>

{% endblock %}