{% extends "base.html" %}
{% load settings_value %}

{% block main %}

<div class="container">
    <h2>Cookies</h2>
    <p>
        Cookies are small blocks of data created by a web server while a user is browsing a website and placed on the user's device by the user's web browser. We use cookies responsibly. Full details of the cookies we use are shown below.
    </p>
    <table>
        <thead>
            <tr>
                <th>Provider</th>
                <th>Cookie</th>
                <th>Purpose</th>
                <th>Expiry</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>This website</td>
                <td>cookie_msg_hide</td>
                <td>
                    Used to know if you've previously hidden the cookies information messages on our site
                </td>
                <td>
                    1000 days
                </td>
            </tr>
            <tr>
                <td>This website</td>
                <td>csrftoken</td>
                <td>
                    A token used to enhance the security of the site by preventing Cross-Site Request Forgery (CSRF) attacks
                </td>
                <td>
                    1 year
                </td>
            </tr>
            <tr>
                <td>This website</td>
                <td>sessionid</td>
                <td>
                    Used to maintain your session when you're logged into your account on the website
                </td>
                <td>
                    2 weeks
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}