{% extends "base.html" %}
{% load settings_value static %}

{% block main %}

<section id="presentations" class="container">
    <h2>Presentations</h2>
    <p>
        Presentations relating to the project (all by Henriette van der Blom):
    </p>
    <ol>
        <li>‘Speaking up for themselves: Women in Valerius Maximus’ <em>Facta et dicta memorabilia</em>’, University of New England (Australia) and Amphorae Masterclass for Classics/Ancient History UG and PG students across AUS/NZ, 2026.</li>
        <li>‘Italian and (non-)Roman speakers in Valerius Maximus: hierarchy and identity’, University of New England (Australia) Classics and Ancient History Research Seminar, 2026.</li>
        <li>‘Proving, pleasing and persuading: why ancient rhetoric still matters’, Public lecture, University of Melbourne (Australia), 2026.</li>
        <li>‘Representations of Cicero in Valerius Maximus: orator, politician and source’, University of Melbourne (Australia) Classics and Ancient History Masterclass and Graduate Seminar, 2026.</li>
        <li>‘Valerius Maximus on <em>maiestas</em> treason, <em>res publica</em> and public speech’, University of Sydney (Australia) Classics and Ancient History Research Seminar, 2026.</li>
        <li>‘Cicero(s) in Valerius Maximus’ <em>Facta et dicta memorabilia</em>’, University of Glasgow Classics Research Seminar, 2026.</li>
        <li>‘Roman, Italian and other foreign speakers in Valerius Maximus: hierarchy and identity’, University of Warwick Classics and Ancient History Research Seminar, 2026.</li>
        <li>‘The agency of maternal testators in Valerius Maximus’, Eugesta international conference on ‘Subversive Motherhood and the Roman Revolution’, online 2025.</li>
        <li>‘Valerius Maximus on Cicero’, international conference ‘Persuader et faire mémoire à Rome à la fin de la République: relectures croisées des Catilinaires et des Philippiques de Cicéron’, Université Jean Moulin Lyon 3 (France), 2025.</li>
        <li>‘Liminal speakers in Valerius Maximus’ <em>Facta et dicta memorabilia</em>’, Princeton University (USA), 2025.</li>
        <li>‘Public speaking from Saturninus to the Social War: the perspective from the <em>Facta et dicta memorabilia</em>’, international conference ‘The Generation before Cicero’, Johns Hopkins University, Baltimore (USA), 2025.</li>
        <li>‘Not the <em>vir bonus dicendi peritus</em> Valerius Maximus on Roman republican orators’, International Society for the History of Rhetoric conference 2025 (University of Copenhagen, Denmark).</li>
        <li>‘Anti-immigration rhetoric in and around Cicero’s <em>Pro Balbo</em>’, international conference on Cicero, <em>Pro Balbo</em>, Universität Potsdam (Germany), 2025.</li>
        <li>‘<em>Docere, movere ac delectare</em> the significance of ancient rhetoric’, Lectures at Fudan and Peking Universities, Shanghai and Beijing, 2025.</li>
        <li>‘Valerius Maximus on female speakers’, international conference ‘Women’s Oratory in the Roman world: the gender dimension in ancient speeches (8th BCE – 1st CE)’, Università Ca’ Foscari, Venice (Italy), 2025.</li>
        <li>‘Time, chronology and turning points in Valerius Maximus’ representation of republican public speakers’, Ruprecht Karl University of Heidelberg Ancient History Research Seminar (Germany), 2025.</li>
        <li>‘Anti-immigration rhetoric in the Roman republican <em>contio</em>?’, international conference In the name of the People: Facets of Populism in Ancient Greece and Rome, TU Dresden (Germany), 2024.</li>
        <li>‘LGRR and Roman republican elections: the view from Valerius Maximus’, ‘<em>Last Generation of the Roman Republic</em> international seminar series’, online, 2024.</li>
        <li>‘Elections and electioneering in Valerius Maximus’, international conference Canvassing and Elections in the Roman Republic, Università di Padova (Italy) 2024.</li>
        <li>‘Reading the oratorical exempla in chronological order: authorial programme and temporal perspectives’, international conference Time and Temporality in Valerius Maximus, University of Exeter, 2024.</li>
        <li>‘Valerius Maximus on Julius Caesar’, international conference Caesar’s Visions and Impact on the Roman Empire, Universität Flensburg (Germany), 2024.</li>
        <li>‘Style in Valerius Maximus’, international conference Style in Ancient Literature and Computational Approaches, Aarhus University (Denmark), 2024.</li>
        <li>‘Orator-audience dynamics in Valerius Maximus’ <em>Facta et dicta</em>’, international conference L’oratore sale in tribuna, Università degli Studi di Roma ‘Tor Vergata’ (Italy), 2024.</li>
        <li>‘Oratory in Valerius Maximus: sources, traditions and interests’, University of Edinburgh Ancient History Research Seminar, 2024.</li>
        <li>‘Valerius Maximus and traditions about Roman republican orators’, international conference Roman Historiography: Nature and Methodologies, Danish Institute at Rome (Italy), 2024.</li>
        <li>‘Roman oratory ‘from below’: women speaking in (the re)public’, University of Copenhagen SAXO Institute Research Seminar (Denmark), 2023.</li>
        <li>‘Alternative voices in Roman oratory’, University of Cape Town Classics Research Seminar (South Africa), 2023.</li>
        <li>‘Valerius Maximus on republican oratory’, international conference on Valerius Maximus, University of Fribourg (Switzerland), 2022.</li>
        <li>‘Literary innovations in early imperial engagement with Roman republican oratory’, international conference on Appropriation and Innovation in Early Christianity, Aarhus University (Denmark), 2022.</li>
        <li>‘<em>Exempla</em> of republican orators – a change from republic to empire?’, International Society for the History of Rhetoric Conference 2022 (Radboud University, Nijmegen, the Netherlands).</li>
        <li>‘<em>Exempla</em> of republican orators and expectations of audience knowledge of the rhetorical past’, international conference on ‘Speaking Knowledge in the Ancient World’, University of Cambridge, 2022.</li>
        <li>‘Cicero’s <em>humanitas</em>? Valerius Maximus on Cicero’s defences of enemies in the 50s BC’, ‘Mediated Cicero’ conference, Leiden (the Netherlands), 2022.</li>
        </li>
    </ol>
</section>

{% endblock %}