{% extends "base.html" %}
{% load settings_value static %}

{% block main %}

<section id="publications" class="container">
    <h2>Publications</h2>
    <p>
        Publications relating to the project:
    </p>
    <ol>
        <li>H. van der Blom, ‘Valerius Maximus on female speakers’, in T. M. Luchelli, F. Rohr Vio, A. Valentini (eds), <em>Women’s Oratory in the Roman World: the Gender Dimension in Ancient Speeches (8th BCE-1st CE)</em>, Zaragoza, (submitted).</li>
        <li>H. van der Blom, ‘Reading the oratorical <em>exempla</em> in chronological order: authorial programme and temporal perspectives’, in R. Langlands, F. Kimpton & S. Lawrence (eds), <em>Time and Temporality in Valerius Maximus</em>, Oxford (submitted).</li>
        <li>H. van der Blom, ‘Valerius Maximus: story, structure and style’, in J. P. B. Mortensen, E. E. H. Vrangbæk, C. H. Vrangbæk & E. B. Pracht (eds), <em>Style in Ancient Literature and Computational Approaches</em>, Vandenhoeck & Ruprecht, Göttingen (in press).</li>
        <li>H. van der Blom, ‘Valerius Maximus and traditions about Roman republican orators’, M. O. Lindholmer (ed.), <em>Roman Historiography: Nature and Methodologies</em>, Leiden (in press).</li>
        <li>H. van der Blom, ‘Valerius Maximus on republican oratory: frameworks and questions’, in T. Itgenshorst, S. Lentzsch, H. Westphal & L. Pallara (eds), <em>Exemplary Representation(s) of the Past: New Readings of Valerius Maximus’ Facta et dicta memorabilia</em>, Leiden (in press).</li>
        <li>H. van der Blom, ‘Cicero’s <em>humanitas</em>? Valerius Maximus on Cicero’s defences of enemies in the 50s BC’, in L. Jansen & C. Pieper (eds), <em>Mediating Cicero from the 50s BCE</em>, London (in press).</li>
        <li>H. van der Blom, ‘Tradition and innovation in early imperial engagement with Roman republican <em>exempla</em> the case of Livius Drusus’, in S. L. Johnson, S. Luther & J. P. B. Mortensen (eds), <em>Innovation and Appropriation in Early Christianity: Authors, Topics, Texts, Genres</em>, Göttingen (in press).</li>
        <li>H. van der Blom, ‘The diversity and significance of ancient rhetoric’, <em>Museum Sinicum: Journal of the History Department of Fudan University</em> 8, 2026 (in press).</li>
        <li>H. van der Blom, ‘Elections and electioneering in Valerius Maximus’, in E. Zampieri (ed.) <em>In ambitione artifices: Electioneering and Elections in the Roman Republic</em>, University of Zaragoza Press (Zaragoza, 2025), 235-256. Open Access: <a href="https://puz.unizar.es/3261-in-ambitione-artifices-electioneering-and-elections-in-the-roman-republic.html" target="_blank">https://puz.unizar.es/3261-in-ambitione-artifices-electioneering-and-elections-in-the-roman-republic.html</a></li>
        <li>H. van der Blom, ‘Valerius Maximus on Julius Caesar and public speech in the 40s BC’, in K. Matijević, R. Raja & J. Rüpke (eds), <em>Caesar’s Visions and Impact on the Roman Empire: Revisiting the Archaeological and Historical Record for the 40s BC</em> (Turnhout, 2025), 89-106.</li>
        <li>H. van der Blom, ‘Orator-audience dynamics in Valerius Maximus’ <em>Facta et dicta</em>’, in F. Romana Nocchi (ed.), <em>L’oratore sale in tribuna: Rottura della quarta parete e dinamiche d’interazione tra oratore e pubblico, Rationes Rerum</em> 25 (special issue) (2025) 109-31.</li>
        <li>H. van der Blom, ‘Tradition and innovation in early imperial engagement with Roman republican exempla: the case of Livius Drusus’, in S. L. Johnson, S. Luther & J. P. B. Mortensen (eds), <em>Innovation and Appropriation in Early Christianity: Authors, Topics, Texts, Genres,</em> (Göttingen, 2026) 163-192. Open Access: <a href="https://www.vr-elibrary.de/doi/pdf/10.13109/9783666500633" target="_blank">https://www.vr-elibrary.de/doi/pdf/10.13109/9783666500633</a></li>
    </ol>
</section>

{% endblock %}