{% extends "base.html" %}
{% load static settings_value %}

{% block main %}

    <div id="welcome-banner"></div>
    <div id="welcome-bannercredit">
        Courtesy British Library. Shelfmark: Harley MS 4375/3, f. 179r
        <br>
        Valerius Maximus, Les Fais et les Dis des Romains et de autres gens, books 8 and 9, translated by Simon de Hesdin and Nicolas de Gonesse (1473 to c.1480)
        <br>
        Mid-tier section: the son of Aesopus feasts on the most costly singing birds; the Roman women plead for the repeal of the Oppian law forbidding female extravagance.
    </div>

    <section class="container">
        <h2>Home</h2>
        <p>
            <em>The invention of Roman republican speech: Valerius Maximus’ Facta et dicta memorabilia</em> reassesses our understanding of ancient Roman public speech, the foundation of Western political, legal and rhetorical cultures and modern democratic debates.
        </p>
        <p>
            It does so by providing a complete reassessment of Valerius Maximus’ engagement with and reinvention of republican oratory from three perspectives: the <em>Facta et dicta</em> as a source for republican oratory; Valerius’ perspective on republican oratory; and what Valerius’ perspective on republican oratory reveals about his own project, his own period, and his contribution to the early-imperial reception of republican oratory.
        </p>
        <p>
            Public speech was the main means of mass communication in the Roman world and had crucial and wide-ranging influence on its political, legal, educational and elite intellectual communication, institutions and cultures. These institutions and traditions, in turn, significantly influenced Western institutions, cultures and forms of communication. The project therefore aims not only to elucidate Valerius’ impact on the early reception of republican speech, but also to explore how this early-imperial understanding of public speech influenced Western political, legal, educational and rhetorical cultures so fundamental for our modern democratic society.
        </p>
    </section>

    <section id="welcome-footer">
        <!-- Content -->
        <div id="welcome-footer-content" class="container">

            <div id="welcome-footer-content-logos">
                <a href="https://www.birmingham.ac.uk" target="_blank"><img src="{% static 'images/logos/logo-uob.jpg' %}" alt="Birmingham University logo"></a>
                <a href="https://www.leverhulme.ac.uk" target="_blank"><img src="{% static 'images/logos/logo-leverhulmetrust.jpg' %}" alt="Leverhulme Trust logo"></a>
            </div>

            <div id="welcome-footer-content-text">
                <p>
                    This website has been developed for <em>The Invention of Roman Republican Speech</em> research project
                    <br>
                    led by <a href="https://www.birmingham.ac.uk/staff/profiles/caha/van-der-blom-henriette" target="_blank">Professor Henriette van der Blom </a> at the <a href="https://www.birmingham.ac.uk/" target="_blank">University of Birmingham</a>
                </p>
                <p>
                    The project is funded by a <a href="https://www.leverhulme.ac.uk/">Leverhulme Trust</a> Major Research Fellowship (2025-28)
                </p>
                <p>
                    Contact: <a href="mailto:{% settings_value 'MAIN_CONTACT_EMAIL' %}">{% settings_value 'MAIN_CONTACT_EMAIL' %}</a>
                </p>
                <p>
                    <a href="https://www.birmingham.ac.uk/privacy/index.aspx" target="_blank">Privacy</a> |
                    <a href="https://www.birmingham.ac.uk/legal/index.aspx" target="_blank">Legal</a> |
                    <a href="https://www.birmingham.ac.uk/university/governance/policies-regs/information/index.aspx" target="_blank">Freedom of Information</a> |
                    <a href="{% url 'general:cookies' %}">Cookies</a> |
                    <a href="https://accessibility.bear.bham.ac.uk" target="_blank">Accessibility</a> |
                    <a href="https://github.com/bear-rsg/romanrepublicanspeech" target="_blank">Technical Documentation</a>
                </p>
                <p>
                    © University of Birmingham {% now "Y" %}
                </p>
            </div>

        </div>
    </section>

{% endblock %}